<%= (render_xml_hash @bug_info).html_safe %>
<description type="string">
	<%= (@comments.shift)["text"] %>
</description>
<comments type="array">
	<% temp = @comments.last %>
	<% @comments.each do |comment| %>
		<comment>
			<id type="integer"><%= comment['id'] %></id>
			<creator type="string"><%= comment['creator'] %></creator>
			<time><%= comment['time'] %></time>
			<text type="string"><%= comment['text']%></text>
		</comment>
	<% end %>
</comments>
