<products type="array"><% @products.each do |product| %><product><name><%= product[0..-5] %></name><link>/projects/<%= params[:id] %>/commits_list.json?product=<%= product %></link></product><% end %></products>