<% content_for(:title, t('admin_panel')) %>

<div class="page-header">
  <h1><%= t :admin_panel %></h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :username %></th>
      <th><%= t :email %></th>
      <th><%= t :message %></th>
      <th><%= t :roles %></th>
    </tr>
  </thead>

  <tbody>
<% @users.each do |user| %>
	<% unless user == current_user %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.email %></td>
      <td><%= user.message %></td>
      <td>
      	<%= render_links "admin",user %>
      	<%= render_links "super_moderator",user %>
      	<%= render_links "super_developer",user %>
      	<%= render_links "super_editor",user %>
      	<%= render_links "developer",user %>
      	<%= render_links "editor",user %>
      </td>
    </tr>
    <% end %>
<% end %>
  </tbody>
</table>
