{
	<%= (render_json_hash @bug_info).html_safe %> <%# TODO: Make sure this is not a security vulnrability. %>
	,"description":"<%= (@comments.shift)["text"] %>",
	"comments":
	[
	<% temp = @comments.last %>
	<% @comments.each do |comment| %>
		{
			"id":<%= comment['id'] %>,
			"creator":"<%= comment['creator'] %>",
			"time":"<%= comment['time'] %>",
			"text":"<%= comment['text']%>"
		} <%= "," unless comment == temp %>
	<% end %>
	]
}
