{<% begin 
	diff = @commit.diff_parent.stats
rescue
end 
%>"author_name":"<%= @commit.author.name %>","author_email":"<%= @commit.author.email %>","author_date":"<%= @commit.author.date %>","committer_name":"<%= @commit.committer.name %>","committer_email":"<%= @commit.committer.email %>","committer_date":"<%= @commit.committer.date %>","sha":"<%= @commit.sha.to_s %>","message":"<%= @commit.message %>","tree_sha":"<%= @commit.gtree.to_s %>","tree_link":"http://quickgit.kde.org/?p=<%= params[:product] %>&a=tree&h=<%= @commit.gtree.to_s %>&hb=<%= @commit.sha.to_s %>","snapshot":"http://quickgit.kde.org/?p=<%= params[:product] %>&a=snapshot&h=<%= @commit.sha %>&fmt=tgz","has_parents":<% if diff %>1<% else %>0<% end %><% if diff %>,"parents":	<% temp = @commit.parents.to_a.last %>[<% @commit.parents.each do |parent| %>{"sha":"<%= parent.to_s %>","link":"/commit.json?product=<%= params[:product] %>&commit_sha=<%= parent.to_s %>"}<%= "," unless parent == temp %><% end %>],"files_changed":<%= diff[:total][:files] %>,"insertions":<%= diff[:total][:insertions] %>,"deletions":<%= diff[:total][:deletions] %>,"lines_changed":<%= diff[:total][:lines] %>,"changes":[<% temp = diff[:files].keys.last %><% diff[:files].each do |k,v| %>{"file":"<%= k %>","insertions":<%= v[:insertions] %>,"deletions":<%= v[:deletions] %>}<%= "," unless k == temp %><% end %>]<% end %>}