<% content_for(:title, t('news') ) %>
<div class="page-header">
	<% if can? :create, News %>
		<%= link_to new_news_path, :class => 'btn btn-primary' do %>
		    <i class="icon-plus icon-white"></i>
		    <%= t :new_news %>
		<% end %>
	<% end %>
  <h1>
	<%= t("latest_news") %>
  </h1>
</div>
<% @news.each do |news| %>
	<div class = "well well-mini">
		<h2>
			<%= link_to news.title,news %>
		</h2>
		<%= t('by') + ' ' + news.user.login %> <%= time_ago_in_words(news.created_at) + ' ' + t('ago') %>
		<hr>
		<%=raw news.content[0..1500] %>
		<%= link_to t('see_more')+'...',news %>
	</div>
<% end %>
<%= will_paginate @news, :renderer => BootstrapPagination::Rails %>