<% content_for(:title, @news.title ) %>
<div class="page-header">
	<button class="btn" onclick="history.go(-1);return true;">
    <i class="icon-list-alt"></i>
    <%= t :back %>
</button>
<% if can? :update, @news %>
	<%= link_to edit_news_path(@news), :class => 'btn btn-primary' do %>
	    <i class="icon-pencil icon-white"></i>
		<%= t :edit %>
	<% end %>
<% end %>
  <h1>
	<%= @news.title %>
  </h1>
	<%= t('by') + ' ' + @news.user.login %> <%= time_ago_in_words(@news.created_at) + ' ' + t('ago') %>
</div>
<div class = "thumbnail">
	<%= raw @news.content %>
</div>
