$(function() {

	<% if (unloaded ||= nil) %>
		$('a[href="#<%= unloaded %>"]').one("click",function(){
	<% end %>
	
	$.getJSON("<%= project_path("en",@project) %>/<%= type %>/<%= to_plot %><%= extra ||= "" %>.json", function(data) {
		var final_data;
		if (data.constructor == Array) {
			final_data = data;
			Highcharts.setOptions({
			colors: [
			   '#4572A7',
			   '#AA4643', 
			   '#89A54E', 
			   '#80699B', 
			   '#3D96AE', 
			   '#DB843D', 
			   '#92A8CD', 
			   '#A47D7C', 
			   '#B5CA92'
			]
			});
		}
		else {
			final_data = data["data"];
			Highcharts.setOptions({
		     colors: data["colors"]
		    });
		}
	      new Highcharts.Chart({
	      chart: {
	  renderTo: <%= target %>
	      },
	      title: {
	  text: "<%= title %>"
	      },
	      tooltip: {
	  pointFormat: '<b>{point.y}</b>',
	  percentageDecimals: 1
	      },
	      plotOptions: {
	  pie: {
	                    allowPointSelect: true,
	                    cursor: 'pointer',
	                    dataLabels: {
	                        enabled: true,
	                        color: '#000000',
	                        connectorColor: '#000000',
	                        formatter: function() {
	                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
	                        }
	                    }
	             }
	      },
	      series: [{
	                type: 'pie',
	                name: '<%= title %>',
	                data: final_data
	            }]
	      });
   });
      <% if unloaded %>
		});
	  <% end %>
      
   });