$(function () {
	var the_series = [
    <% series.each do |s| %>
    {
      name: "<%= s[:name] %>",
      pointInterval: <%= 24*60*60 * 1000 %>,
      pointStart: <%= s[:first_date] %>,
      fillColor : '#348AFA',
      data: <%= s[:data] %>,
      "dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": "<%= s[:approx] %>", "groupPixelWidth": 50 }
    },
    <% end %>
    ];
    console.log(the_series);
	Highcharts.setOptions({
     colors: [
   '#4572A7', 
   '#AA4643', 
   '#89A54E', 
   '#80699B', 
   '#3D96AE', 
   '#DB843D', 
   '#92A8CD', 
   '#A47D7C', 
   '#B5CA92'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: '<%= t(title, :locale => :en).tr(" ", "_") %>' },
    title: { text: '<%= t(title) %>' },
    xAxis: { oridnal: false },
    yAxis: {
      title: { text: '<%= y_label %>' },
      min: 0,
    },
    plotOptions: {line: {
            connectNulls: false
        } },
    series: the_series 
  });
});