<hr>
<li class="list-header"><%= t('branches').upcase %></li>
<% @branches.each do |branch| %>
	<li<%=raw " class='active'" if current_page?(branch_project_path(@project,@product,branch.full.to_s)) %>><%= link_to branch.full.to_s, branch_project_path(@project,@product,branch.full.to_s) %></li>
<% end %>