$(function () {
	Highcharts.setOptions({
     colors: [
   '#4572A7', 
   '#AA4643', 
   '#89A54E', 
   '#80699B', 
   '#3D96AE', 
   '#DB843D', 
   '#92A8CD', 
   '#A47D7C', 
   '#B5CA92'
]
    });
  new Highcharts.Chart({
    chart: { renderTo: '<%= t(title, :locale => :en).tr(" ", "_") %>' },
    title: { text: '<%= t(title) %>' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: '<%= y_label %>' },
      min: 0,
    },
    series: [
    <% series.each do |s| %>
    {
      name: "<%= s[:name] %>",	
      pointInterval: <%= 31*24*60*60 * 1000 %>,
      pointStart: <%= 12.months.ago.at_beginning_of_month.to_i * 1000 %>,
      data: <%= s[:data] %>
    },
    <% end %>
    ]
  });
});