<% @products_and_commits.each do |product,commits| %>
	<% @commits = commits %>
	<% @product = product %>
	<a href="<%= commits_list_project_path %>/<%= product %>"><%= product %></a>
	<%= render 'list_commits' %>
<% end %>
