<div class = "thumbnail">
	<table class="table">
      <thead>
	<tr>
	  <th><%= t :subject %></th>
	  <th><%= t :from %></th>
	  <th><%= t :date %></th>
	</tr>
      </thead>
      <tbody>
	  <tr>
	    <td><%= Mail::Encodings.value_decode(@message.subject).encode('utf-8','iso-8859-1').force_encoding('utf-8') %></td> <%#Might need to encode this if some error happens.%>
	    <td><%= Mail::Encodings.value_decode(@message.from).to_s.encode('utf-8','iso-8859-1').force_encoding('utf-8') %></td>
	    <td><%= @message.date.to_time.to_formatted_s(:long) %></td> <%#TODO: Use l after upgrade%>
	  </tr>
      </tbody>
</table>
</div>
<br>
<% unless @message.multipart? %>
	<pre><%= Mail::Encodings.value_decode(@message.body).to_s.encode('utf-8','iso-8859-1').force_encoding('utf-8') %></pre>
<% else %>
	<% @message.parts.each do |part| %>
		<pre><%= Mail::Encodings.value_decode(part.body).to_s.encode('utf-8','iso-8859-1').force_encoding('utf-8') %></pre>
	<% end %>
<% end %>
<br>
<div class = "thumbnail">
	<table class="table">
      <thead>
	<tr>
	  <th><%= link_to t('previous_message'), message_project_path(params[:id], params[:mlist], params[:month], (params[:index].to_i - 1)) unless (params[:index].to_i == 0) %></th>
	  <th><%= link_to l(@message.date.to_time, format: :month_year) + " " + t('messages'), messages_of_month_project_path(params[:id],params[:mlist], params[:month]) %></th>
	  <th><%= link_to t('next_message'), message_project_path(params[:id], params[:mlist], params[:month], (params[:index].to_i + 1)) unless (params[:index].to_i+1 == @number_of_messages) %></th>
	</tr>
      </thead>
    </table>
</div>
