$('a[href="#Yearly_<%= title %>"]').one("click",function(){
	$.getJSON("<%= project_path("en",@project) %>/<%= type %>/doers_yearly.json", function(data) {
		var s = data.length;
		var final_data = [];
		var cur_date = new Date(<%= @start_date %>);
		for (var i = 0; i < s; i++) {
			final_data.push([Date.UTC(cur_date.getFullYear()+i,cur_date.getMonth(),cur_date.getDate()),data[i]]);
		};
		Highcharts.setOptions({
	     colors: [
	   '#4572A7'
	]
	    });
	  new Highcharts.Chart({
	    chart: { renderTo: 'Yearly_<%= title %>' },
	    title: { text: '<%= t(title) %>' },
	    xAxis: { oridnal: false, type: 'datetime', labels: {
	            format: '{value: %Y}'
	        } },
	    yAxis: {
	      title: { text: '<%= t(y_label) %>' },
	      min: 0,
	    },
	    plotOptions: {line: {
	            connectNulls: false
	        } },
	    series: [
	    {
	      name: "<%= name %>",
	      fillColor : '#348AFA',
	      data: final_data ,
	    },
	    ]
	  });
	});
});