$('a[href="#Monthly_<%= title %>"]').one("click",function(){
	$.getJSON("<%= project_path("en",@project) %>/<%= type %>/doers_monthly.json", function(data) {
		var s = data.length;
		var final_data = [];
		var cur_date = new Date(<%= @start_date %>);
		for (var i = 0; i < s; i++) {
			final_data.push([Date.UTC(cur_date.getUTCFullYear(),cur_date.getUTCMonth()+i,cur_date.getUTCDate()),data[i]]);
		};
		Highcharts.setOptions({
	     colors: [
	   '#4572A7'
	]
	    });
	  new Highcharts.StockChart({
	    chart: { renderTo: 'Monthly_<%= title %>' },
	    title: { text: '<%= t(title) %>' },
	    xAxis: { oridnal: false , type: 'datetime', labels: {
	            format: '{value:%b %Y}'
	        } },
	    yAxis: {
	      title: { text: '<%= t(y_label) %>' },
	      min: 0,
	    },
	    plotOptions: {line: {
	            connectNulls: false
	        } },
	    series: [
	    {
	      name: "<%= name %>",
	      fillColor : '#348AFA',
	      data: final_data,
	      "dataGrouping": { "enabled": false }
	    },
	    ]
	  });
	});
});