<%# encoding: UTF-8%>
<%= form_for(build_bug_products_and_jobs(@project), :html => { :class => "form-horizontal container" }) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading"><%= pluralize(@project.errors.count, "error") %> <%= t('prohibited_this_project_from_being_saved') %>:</h4>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group row">
  	<div class = "span2"><%= f.label :parent_id, :class => "control-label" %></div>
    <div class="controls">
   	 <div class = "span3"><%= raw (f.collection_select :parent_id,Project.order_by([:title , :asc]), :id, :title, :include_blank => true).force_encoding("utf-8").encode("utf-8",:invalid => :replace) %></div>
     <div class = "span7"><div class="alert alert-info alert-block"><i class="icon-info-sign icon-blue"></i> If the project is a subproject of another, pick its direct parent. Otherwise leave this blank.</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class = "span2"><%= f.label :title, :class => "control-label" %></div>
    <div class="controls">
     <div class = "span3"><%= f.text_field :title, :class => "input-large" %></div>
     <div class = "span7"><div class="alert alert-info alert-block"><i class="icon-info-sign icon-blue"></i> The title of your project. For example: Kamoso</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class = "span2"><%= f.label :description, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :description, :class => "input-xlarge" %></div>
      <div class="span7"><div class="alert alert-info alert-block"><i class="icon-info-sign icon-blue"></i> A brief description of your project. For example: <br> Kamoso is an application to take pictures and videos out of your webcam. </div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class = "span2"><%= f.label :community_wiki_description_page, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_field :community_wiki_description_page, :class => "input-large" %></div>
      <div class="span7"><div class="alert alert-info alert-block"><i class="icon-info-sign icon-blue"></i> You can specify a wiki page on <a href="https://community.kde.org" target="_blank">KDE Community Wiki</a> and have its content automatically added to Large description after save(and regularly updated afterwise). <br> For example: <a href="https://community.kde.org/Calligra" target="_blank">Calligra</a> </div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class = "span2"><%= f.label :large_description, :class => "control-label" %></div>
    <div class="controls">
      <div class="span10"><%= f.cktext_area :large_description, :class => "input-xxlarge" %></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :bugzilla_products, :class => "control-label" %></div>
    <div class="controls">
    	<div class="span3"><%= f.select :bugzilla_products, options_for_select(@bug_products, selected: @project.bugzilla_products),{}, { :multiple => true} %></div>
        <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Choose all products from bugs.ko relevant to the project.</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :git_repos, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :git_repos, :class => "input-xlarge" %></div>
      <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write all the repositories that belong to the project, one per line. Write the full path for cloning after "git://anongit.kde.org/" with a ".git" at the end. For example:<br />calligra.git<br />websites/reports-kde-org.git</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :reviewboard_repository, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_field :reviewboard_repository, :class => "input-xlarge" %></div>
      <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write the repository of the project in Reviewboard. For example:<br />amarok</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :mailing_lists, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :mailing_lists, :class => "input-xlarge" %></div>
      <div class="span7">
      	<div class="alert"><i class="icon-warning-sign icon-blue"></i> Before adding anything here, please make sure that someone with powers in mailman has already made ".mbox" files for all the lists you're about to add available for download.</div>
      	<div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write all the mailing lists that belong to the project, one per line. Write only the name of the mailing list with an ".mbox" at the end. For example:<br />amarok.mbox<br />amarok-devel.mbox</div>
      </div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :irc_channels, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :irc_channels, :class => "input-xlarge" %></div>
      <div class="span7">
      	<div class="alert"><i class="icon-warning-sign icon-blue"></i> Please note that making ANY change in this field will erase any existing data for this project about IRC Channels and counting starts from this moment.</div>
      	<div class="alert"><i class="icon-warning-sign icon-blue"></i> Please note that a bot will be sent to each of the channels added here. Although it does not save any messages, but it does log the names of message senders and the number of messages they send.</div>
      	<div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write all the IRC Channels(on freenode) that belong to the project, one per line. Write the full name of the channel with the preceding "#". For example:<br />#kde<br />#kde-devel</div>
      </div>
    </div>
  </div>
  <% WikiDataManager.explorable_sites.each do |site| %>
	  <div class="control-group row">
	    <div class="span2"><%= f.label "#{site}_wiki_pages".to_sym, :class => "control-label" %></div>
	    <div class="controls">
	      <div class="span3"><%= f.text_area "#{site}_wiki_pages".to_sym, :class => "input-xlarge" %></div>
	      <div class="span7">
	      	<div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write all pages in <%= site %> that belong to this project, one per line. Subpages of each of these pages is included in the report by default. For example:<br />Calligra<br />Amarok</div>
	      </div>
	    </div>
	  </div>
  <% end %>
  <div class="control-group row">
    <div class="span2"><%= f.label :build_jobs, :class => "control-label" %></div>
    <div class="controls">
    	<div class="span3"><%= f.select :build_jobs, options_for_select(@build_jobs, selected: @project.build_jobs),{}, { :multiple => true} %></div>
        <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Choose all products from bugs.ko relevant to the project.</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :facebook_pages, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :facebook_pages, :class => "input-xlarge" %></div>
      <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write all the Facebook pages that belong to the project, one per line. Write only the name of the page as it appears in the Facebook url. For example, if the url for the page is:<br />https://facebook.com/kde<br />You should write:<br />kde</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :twitter_profile, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_field :twitter_profile, :class => "input-xlarge" %></div>
      <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write the project's twitter profile name, only one profile is allowed per project. If the url of the profile is:<br />https://twitter.com/kdecommunity<br />You should write:<br />kdecommunity</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :google_plus_profiles, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :google_plus_profiles, :class => "input-xlarge" %></div>
      <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write all the Google+ profiles that belong to the project, one per line. If the urls of the profiles are:<br />https://plus.google.com/105126786256705328374/posts<br />https://plus.google.com/+digikam/posts<br />You should write:<br />105126786256705328374<br />+digikam</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :forum_ids, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :forum_ids, :class => "input-xlarge" %></div>
      <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Write all the ids of the forums that belong to the project, one per line. If the urls of the forum is:<br />https://forum.kde.org/viewforum.php?f=66<br />You should write:<br />66</div></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :bugs_report_fields, :class => "control-label" %></div>
    <div class = "controls">
	    <div class = "span3">
	    <% for bug_option in Project.bugs_options %>
	    	<div>
		      <%= check_box_tag "project[bugs_report_fields][]", bug_option, @project.bugs_report_fields.include?(bug_option) %>
		      <%= bug_option %>
		    </div>
	    <% end %>
	    </div>
      	<div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Choose all properties of bugs that you'd like the bugs report of the project to have a pie chart of. If you choose "assigned_to", a "bugs_by_assigned_to" pie chart would be displayed. You can select more than one or none at all.</div></div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => "btn btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn' %>
  </div>
<% end %>
<script src= "/js/chosen.jquery.min.js"></script>
<script>
	$("#project_parent_id").chosen({allow_single_deselect:true});
	$("#project_bugzilla_products").chosen();
	$("#project_build_jobs").chosen();
</script>
<% content_for :early_load do %>
	<link rel="stylesheet" type="text/css" href="/css/chosen.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<% end %>