<ul class="nav nav-tabs">
  <li><a href="#Yearly_<%= title %>" data-toggle="tab">Yearly</a></li>
  <li><a href="#Monthly_<%= title %>" data-toggle="tab">Monthly</a></li>
  <li class="active"><a href="#Daily_<%= title %>" data-toggle="tab">Daily</a></li>
</ul>

<div id='doers_line_graph' class="tab-content">
  <div class="tab-pane" id="Yearly_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
  <div class="tab-pane" id="Monthly_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
  <div class="tab-pane active" id="Daily_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
</div>

<% content_for :scripts do %>
	<script>
		<%= render :partial => "multiple_doers_all_time_daily", :locals => {
			:title => title,
			:y_label => y_label,
			:name => t(title),
			:lang_label => t(lang_label),
			:type => type
			}
			 %>
		<%= render :partial => "multiple_doers_all_time_monthly", :locals => {
			:title => title,
			:y_label => y_label,
			:name => t(title),
			:lang_label => t(lang_label),
			:type => type
			}
			 %>
		<%= render :partial => "multiple_doers_all_time_yearly", :locals => {
			:title => title,
			:y_label => y_label,
			:name => t(title),
			:lang_label => t(lang_label),
			:type => type
			}
			 %>
	</script>
<% end %>
