<div id="<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
<% content_for :scripts do %>
	<script>
		<%= render :partial => "objects_multiple_line_graph", :locals => {
			:objects => objects,
			:lines => lines,
			:approx => approx,
			:title => title,
			:y_label => y_label,
			:first_date => @start_date,
			}
			 %>
	</script>
<% end %>