<div id="<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
<% content_for :scripts do %>
	<script>
		<%= render :partial => "objects_line_graph", :locals => {
			:objects => objects,
			:line => line,
			:title => title,
			:y_label => t(y_label),
			:lang_label => t(lang_label),
			:approx => approx,
			:decimals => decimals,
			:first_date => @start_date,
			:custom_agg => custom_agg
		}
			 %>
	</script>
<% end %>