<div class ="thumbnail">
	<% @project.get_repos.each do |repo| %>
		<% repo_display = repo[0..-5] %>
		<div>
			<span class="btn-group">
				<span class="btn-group" data-toggle="buttons-radio">
					<button onclick="display_repo('git','<%= repo_display %>')" class="btn active">Git</button>
					<button onclick="display_repo('http','<%= repo_display %>')" class="btn">HTTP</button>
					<button onclick="display_repo('ssh','<%= repo_display %>')" class="btn">SSH</button>
					<button onclick="display_repo('tarball','<%= repo_display %>')" class="btn">Tarball</button>
				</span>
				<input type="text" id="repo_link" class="span2" style="width:40%;background-color:white;cursor: auto;height: 23px;margin-top: 5px;" onclick="this.select();" value="git clone git://anongit.kde.org/<%= repo_display %>" readonly="readonly">
				<button onclick="$('#repo_link').select();document.execCommand('copy');" class="btn">
				  Copy
				</button>
			</span>
			&nbsp;
			<b><span id="access_type"><%= t('read_only') %></span></b>
		</div>
	<% end %>
</div>
<% content_for :scripts do %>
	<script>
	function display_repo(protocol,repo) {
		switch(protocol) {
		case "git":
		  $("#repo_link").val("git clone git://anongit.kde.org/" + repo);
		  $("#access_type").text("<%= t('read_only') %>");
		  break;
		case "http":
		  $("#repo_link").val("git clone http://anongit.kde.org/" + repo);
		  $("#access_type").text("<%= t('read_only') %>");
		  break;
		case "ssh":
		  $("#repo_link").val("git clone git@git.kde.org:" + repo);
		  $("#access_type").text("<%= t('read_write') %>");
		  break;
		case "tarball":
		  $("#repo_link").val("wget -c http://anongit.kde.org/" + repo + "/" + repo + "-latest.tar.gz");
		  $("#access_type").text("<%= t('read_only') %>");
		  break;
		default:
			$("#repo_link").val("git clone git://anongit.kde.org/" + repo);
			$("#access_type").text("<%= t('read_only') %>");
		}
	}
	</script>
<% end %>
