<table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th><%= t :date %></th>
	  <th><%= t :author %></th>
	  <th><%= t :comment %></th>
	  <th><%= t :files_changed %></th>
	  <th><%= t :download_snapshot %></th>
	</tr>
      </thead>
      <tbody>
	<% @commits.each do |commit| %>
	  <tr>
	    <td><%= link_to commit.sha[0..7], commit_project_path(@project,@product,commit.sha) %></td>
	    <td><%= time_ago_in_words(commit.committer_date) + ' ' + t('ago') %></td>
	    <td><%= commit.author.name %></td>
	    <td><%= commit.message %></td>
	    <td><%=
	    begin
	     commit.diff_parent.size
		rescue
		end
	     %></td>
	    <td>
	    	<%= link_to "zip", "http://quickgit.kde.org/?p=#{@product}&a=snapshot&h=#{commit.sha}&fmt=zip" %> |
	    	<%= link_to "tar", "http://quickgit.kde.org/?p=#{@product}&a=snapshot&h=#{commit.sha}&fmt=tar" %> |
	    	<%= link_to "tar.gz", "http://quickgit.kde.org/?p=#{@product}&a=snapshot&h=#{commit.sha}&fmt=tgz" %>
	    </td>
	  </tr>
	<% end %>
      </tbody>
</table>
