<% counter = 0 %>
<% @list.each do |num| %>
	<%= link_to @starting_month.strftime("%B %Y") , messages_of_month_project_path(@project,@mlist,@starting_month.strftime("%b%Y")) %>
	<br>
	<% @starting_month = (@starting_month+32.days).beginning_of_month %>
<% end %>
