<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :title %></th>
      <th><%= t :description %></th>
    </tr>
  </thead>

  <tbody>
  <% all_project = nil %>
<% @projects.each do |project| %>
	<% if project.title == "KDE Community" %>
		<% all_project = project %>
		<% next %>
	<% end %>
    <tr>
      <td><%= link_to project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace), project %></td>
      <td><%= project.description.force_encoding("utf-8").encode("utf-8",:invalid => :replace) %></td>
    </tr>
<% end %>
	<% if all_project %>
    <tr class = "info">
      <td><%= link_to all_project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace), all_project %></td>
      <td><%= all_project.description.force_encoding("utf-8").encode("utf-8",:invalid => :replace) %></td>
    </tr>
    <% end %>
  </tbody>
</table>