$.getJSON("<%= project_path("en",@project) %>/<%= type %>/doers_daily.json", function(data) {
	var the_series = [];
	if (data.constructor == Array) {
		var item = {
			name: "<%= y_label %>",
		    pointInterval: <%= 24*60*60 * 1000 %>,
		    pointStart: <%= @start_date %>,
		    fillColor : '#348AFA',
		    data: data,
		    "dataGrouping": { "enabled": false }
		}
		the_series.push(item);
	}
	else {
		var the_keys = Object.keys(data);
		for (var i = 0; i < the_keys.length; i++) {
			var item = {
				name: the_keys[i],
				pointInterval: <%= 24*60*60 * 1000 %>,
				pointStart: <%= @start_date %>,
				fillColor : '#348AFA',
				data: data[the_keys[i]],
				"dataGrouping": { "enabled": false }
			};
			the_series.push(item);
		}
	}
	Highcharts.setOptions({
     colors: [
   '#4572A7',
   '#AA4643',
   '#89A54E',
   '#80699B',
   '#3D96AE',
   '#DB843D',
   '#92A8CD',
   '#A47D7C',
   '#B5CA92'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: 'Daily_<%= title %>'},
    title: { text: '<%= lang_label %>' },
    xAxis: { oridnal: false, type: 'datetime' },
    yAxis: {
      title: { text: '<%= t(y_label) %>' },
      min: 0,
    },
    plotOptions: {line: {
            connectNulls: false
        } },
        rangeSelector: {
        selected: 0
    },
    series: the_series
  });
});