$(function () {
	Highcharts.setOptions({
     colors: [
   '#4572A7', 
   '#AA4643', 
   '#89A54E', 
   '#80699B', 
   '#3D96AE', 
   '#DB843D', 
   '#92A8CD', 
   '#A47D7C', 
   '#B5CA92'
]
    });
  new Highcharts.Chart({
    chart: { renderTo: '<%= title.tr(" ", "_") %>' },
    title: { text: '<%= title %>' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: '<%= y_label %>' },
      min: 0,
    },
    series: [{
    	name: '<%= y_label %>',
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 1.month.ago.at_beginning_of_day.to_i * 1000 %>,
      data: <%= data %>
    }]
  });
});