$.getJSON("<%= project_path("en",@project) %>/<%= objects %>/<%= line %>.json", function(data) {

	function myAvg(arr) {
        var sum = 0;
        var num = 0;
        var len = arr.length;
        for (var i = 0; i < len; i++) {
        	if (arr[i] > 0) {
        		num++;
        		sum+= arr[i];
        	}
        }
        if (num == 0) {
        	return 0;
        }
        return sum/num;
    }

	Highcharts.setOptions({
     colors: [
   '#4572A7'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: '<%= title %>' },
    title: { text: '<%= lang_label %>' },
    xAxis: { oridnal: false },
    yAxis: {
      title: { text: '<%= y_label %>' },
      min: 0,
    },
    <% if (decimals ||= nil) %>
	tooltip: {
	  valueDecimals: <%= decimals %>
	},
	<% end %>
    plotOptions: {line: {
            connectNulls: false
        } },
    series: [
    {
      name: "<%= y_label %>",
      pointInterval: <%= 24*60*60 * 1000 %>,
      pointStart: <%= first_date %>,
      fillColor : '#348AFA',
      data: data,
      <% if custom_agg %>
      	"dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": <%= approx %>, "groupPixelWidth": 50 }
      <% else %>
      	"dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": "<%= approx %>", "groupPixelWidth": 50 }
      <% end %>
    },
    ]
  });
});