$(function () {
$.getJSON("<%= project_path("en",@project) %>/<%= objects %>/<%= lines %>.json", function(data) {
	var the_series = [];
	var the_keys = Object.keys(data);
	for (var i = 0; i < the_keys.length; i++) {
		var item = {
			name: the_keys[i],
			pointInterval: <%= 24*60*60 * 1000 %>,
			pointStart: <%= first_date %>,
			fillColor : '#348AFA',
			data: data[the_keys[i]],
			"dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": "<%= approx %>", "groupPixelWidth": 50 }
		};
		the_series.push(item);
	}
	Highcharts.setOptions({
     colors: [
   '#4572A7', 
   '#AA4643', 
   '#89A54E', 
   '#80699B', 
   '#3D96AE', 
   '#DB843D', 
   '#92A8CD', 
   '#A47D7C', 
   '#B5CA92'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: '<%= title%>' },
    title: { text: '<%= t(title) %>' },
    xAxis: { oridnal: false },
    yAxis: {
      title: { text: '<%= y_label %>' },
      min: 0,
    },
    plotOptions: {line: {
            connectNulls: false
        } },
    series: the_series
  });
});
});