$(function() {

	<% if (unloaded ||= nil) %>
		$('a[href="#<%= target %>"]').one("click",function(){
	<% end %>
	
	
	<% unless colors == nil %>
	Highcharts.setOptions({
     colors: <%= colors %>
    });
    <% end %>
      new Highcharts.Chart({
      chart: {
  renderTo: <%= target %>
      },
      title: {
  text: "<%= title %>"
      },
      tooltip: {
  pointFormat: '<b>{point.y}</b>',
  percentageDecimals: 1
      },
      plotOptions: {
  pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
                        }
                    }
             }
      },
      series: [{
                type: 'pie',
                name: '<%= title %>',
                data: 
      				<%= data.inspect.html_safe if data %>
                
            }]
      });
      
      <% if unloaded %>
		});
	  <% end %>
      
   });