<ul>
	<% @messages.each do |message| %>
		<% if message[3] == message_id %>
			<li><%= link_to Mail::Encodings.value_decode(message[0]).force_encoding('utf-8'),  message_project_path(@project, params[:mlist], params[:month], message[1]) %></li>
			<%= render :partial => "replies_to_thread", :locals => { :message_id => message[2] } if message[2] %>
		<% end %>
	<% end %>
</ul>
