<li<%=raw " class='active'" if current_page?(project_path) %>><%= link_to @project.title + ' ' + t('home'), project_path %></li>
<% unless @project.title == "KDE Community" %>
<li<%=raw " class='active'" if current_page?(project_report_project_path) %>><%= link_to t('project_report'), project_report_project_path %></li>
<% end %>
<% if (@project.bugs_data) %>
<hr>
<li class="list-header"><%= t('bugs').upcase %></li>
<li<%=raw " class='active'" if current_page?(bugs_report_project_path) %>><%= link_to t('bugs_report'), bugs_report_project_path %></li>
<% unless @project.title == "KDE Community" %>
<li<%=raw " class='active'" if current_page?(bugs_list_project_path) %>><%= link_to t('bugs_list'), bugs_list_project_path %></li>
<% end %>
<% end %>
<% if @project.commits_last_updated_time %>
<hr>
<li class="list-header"><%= t('commits').upcase %></li>
<li<%=raw " class='active'" if current_page?(commits_report_project_path) %>><%= link_to t('commits_report'), commits_report_project_path %></li>
<% unless @project.title == "KDE Community" %>
<li<%=raw " class='active'" if current_page?(commits_list_project_path) %>><%= link_to t('commits_list'), commits_list_project_path %></li>
<li><%= link_to t('repository'), @project.pko_repository_link, target: "_blank" %></li>
<% end %>
<% end %>
<% if @project.review_requests_start_date %>
<hr>
<li class="list-header"><%= t('review_requests').upcase %></li>
<li<%=raw " class='active'" if current_page?(review_requests_report_project_path) %>><%= link_to t('review_requests_report'), review_requests_report_project_path %></li>
<% end %>
<% if @project.mailing_messages_start_date %>
<hr>
<li class="list-header"><%= t('mailing_lists').upcase %></li>
<li<%=raw " class='active'" if current_page?(mailing_lists_report_project_path) %>><%= link_to t('mailing_lists_report'), mailing_lists_report_project_path %></li>
<% unless @project.title == "KDE Community" %>
<li<%=raw " class='active'" if current_page?(messages_list_project_path) %>><%= link_to t('messages_list'), messages_list_project_path %></li>
<% end %>
<% end %>
<% if @project.irc_messages_start_date %>
<hr>
<li class="list-header"><%= t('irc_channels').upcase %></li>
<li<%=raw " class='active'" if current_page?(irc_channels_report_project_path) %>><%= link_to t('irc_channels_report'), irc_channels_report_project_path %></li>
<% end %>
<% if @project.wiki_start_date %>
<hr>
<li class="list-header"><%= t('wiki_report').upcase %></li>
<li<%=raw " class='active'" if current_page?(wiki_report_project_path) %>><%= link_to t('wiki_report'), wiki_report_project_path %></li>
<% end %>
<% if @project.build_start_date %>
<hr>
<li class="list-header"><%= t('builds_report').upcase %></li>
<li<%=raw " class='active'" if current_page?(builds_report_project_path) %>><%= link_to t('builds_report'), builds_report_project_path %></li>
<% end %>
<hr>
<% if (@project.facebook_posts_start_date or @project.twitter_tweets_start_date or @project.google_plus_posts_start_date ) %>
<li class="list-header"><%= t('social_networks').upcase %></li>
<% if @project.facebook_posts_start_date %>
<li<%=raw " class='active'" if current_page?(facebook_pages_report_project_path) %>><%= link_to t('facebook_pages_report'), facebook_pages_report_project_path %></li>
<% end %>
<% if @project.twitter_tweets_start_date %>
<li<%=raw " class='active'" if current_page?(twitter_report_project_path) %>><%= link_to t('twitter_report'), twitter_report_project_path %></li>
<%end%>
<% if @project.google_plus_posts_start_date %>
<li<%=raw " class='active'" if current_page?(google_plus_report_project_path) %>><%= link_to t('google_plus_report'), google_plus_report_project_path %></li>
<%end%>
<%end%>
<% if @project.forum_posts_start_date %>
<hr>
<li class="list-header"><%= t('forums').upcase %></li>
<li<%=raw " class='active'" if current_page?(forums_report_project_path) %>><%= link_to t('forums_report'), forums_report_project_path %></li>
<li<%=raw " class='active'" if current_page?(forums_topics_list_project_path) %>><%= link_to t('forums_topics_list'), forums_topics_list_project_path %></li>
<% end %>
<% if (@project.title == "KDE Community") %>
<hr>
<li class="list-header"><%= t('blogs').upcase %></li>
<li<%=raw " class='active'" if current_page?(planet_report_project_path) %>><%= link_to t('planet_report'), planet_report_project_path %></li>
<li<%=raw " class='active'" if current_page?(dot_report_project_path) %>><%= link_to t('dot_report'), dot_report_project_path %></li>
<% end %>
<% if @projects %>
	<% unless @projects.empty? %>
	<hr>
	<li class="list-header"><%= t('sub_projects').upcase %></li>
	<ul>
	<% @projects.each do |project| %>
		<li<%=raw " class='active'" if current_page?(project) %>><%= link_to project.title, project %></li>
	<% end %>
	</ul>
	<% end %>
<% end %>
