<div id="<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
<% content_for :scripts do %>
	<script>
		<%= render :partial => "ajax_pie_chart", :locals => {
			:target => title,
			:title => t(title.split("_for_").first),
			:to_plot => to_plot,
			:type => type,
			:unloaded => unloaded
			} 
			 %>
	</script>
<% end %>
