<ul class="nav nav-tabs">
  <li class="active"><a href="#top_10_<%= title %>" data-toggle="tab">Top 10</a></li>
  <li><a href="#all_<%= title %>" data-toggle="tab">All</a></li>
</ul>

<div id='<%= title %>' class="tab-content">
  <div class="tab-pane active" id="top_10_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
  <div class="tab-pane" id="all_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
</div>
<% content_for :scripts do %>
	<script>
		<%= render :partial => "ajax_pie", :locals => {
			:path => path,
			:target => "top_10_#{title}",
			:title => t(title.split("_for_").first),
			:extra => "_top_10",
			:unloaded => unloaded
			} 
			 %>
		<%= render :partial => "ajax_pie", :locals => {
			:path => path,
			:target => "all_#{title}",
			:title => t(title.split("_for_").first),
			:extra => "_all",
			:unloaded => "all_#{title}",
			} 
			 %>
	</script>
<% end %>
