<% unless back_link ||= nil %>
	<button class="btn" onclick="history.go(-1);return true;">
	    <i class="icon-list-alt"></i>
	    <%= t :back %>
	</button>
<% else %>
	<%= link_to back_link, :class => 'btn' do %>
	    <i class="icon-list-alt"></i>
	    <%= t :back %>
	<% end %>
<% end %>

<% if can? :update, @project %>
	<%= link_to edit_project_path(@project), :class => 'btn btn-primary', 'data-no-turbolink' => true do %>
	    <i class="icon-pencil icon-white"></i>
		<%= t :edit %>
	<% end %>
<% end %>
