<% content_for(:title, t('bug') + ' ' + @bug_info['id'].to_s + " - " + @bug_info['summary'] )  %>

<div class="page-header">
	<%= render partial: 'top_bar_for_single_project', locals: { back_link: bugs_list_project_path(@project) } %>
  <h1>
	<%= t('bug') + ' ' + @bug_info['id'].to_s + " - " + @bug_info['summary'] %>
  </h1>
  <%= t('status') + ": " + @bug_info['status'] %>
  <a target="_blank" href="https://bugs.kde.org/show_bug.cgi?id=<%= @bug_info['id'] %>">
  	<%= t :see_in_bugzilla %>
  </a>
</div>

<table>      
	<%= render_property(t('product'), @bug_info['product']) %>
	<%= render_property(t('component'), @bug_info['component']) %>
	<%= render_property(t('classification'), @bug_info['classification'])%>
	<%= render_property(t('version'), @bug_info['version']) %>
	<%= render_property(t('platform'), @bug_info['platform'] + " " + @bug_info['op_sys']) %>
	<%= render_property(t('importance'), @bug_info['priority']) %>
	<%= render_property(t('severity'), @bug_info['severity'])%>
	<%= render_property(t('target_milestone'), @bug_info['target_milestone']) %>
	<%= render_property(t('assigned_to'), @bug_info['assigned_to']) %>
	<%= render_property(t('url'), @bug_info['url']) %>
	<%= render_property(t('keywords'), @bug_info['keywords'].join(",")) %>
	<%= render_property(t('depends_on'), @bug_info['depends_on'].join(",")) %>
	<%= render_property(t('blocks'), @bug_info['blocks'].join(",")) %>
	<%= render_property(t('reported'), @bug_info['creation_time'].to_time.to_s + " by " + @bug_info['creator']) %>
	<%= render_property(t('modified'), @bug_info['last_change_time'].to_time.to_s) %>
	<%= render_property(t('cc_list'), @bug_info['cc'].join(",")) if @bug_info['is_cc_accessible'] %>
	<%= render_property(t('see_also'), @bug_info['see_also'].join(",")) %>
	<%= render_property(t('latest_commit'), @bug_info['cf_commitlink'])%>
	<%= render_property(t('version_fixed_in'), @bug_info['cf_versionfixedin'])%>
	<%= render_property(t('is_open'), @bug_info['is_open'])%>
	<%= render_property(t('resolution'), @bug_info['resolution'])%>
</table>
<hr>
<% @comments.each_with_index do |comment,index| %>
	<table id="comment_<%= comment['id'] %>" class="table table-striped table-bordered">
		<tr>
			<th>
				<span class="pull-left"><%= comment['creator'] + " " + comment["time"].to_time.to_s %></span>
				<span class="pull-right">
					<a href="#comment_<%= comment['id'] %>">
						<%= (index == 0) ? t('description') : t('comment') + ' ' + index.to_s  %>
					</a>
				</span>
			</th>
		</tr>
		<tr>
			<td>
				<pre><%= comment['text'] %></pre>
			</td>
		</tr>
	</table>
<% end %>
