<% content_for(:title, t('bugs_report') + " " + t('for') + @project.title ) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('bugs_report') + " " + t('for') + @project.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<div class = "breadcrumb">
        <%= t('average_time_to_close_bugs') %>: <%= @project.bugs_data.total_average_close_time.round(3).to_s + " " + t('days') %>
        </div>
        <%= render_multiple_objects_chart "bugs","sum" %>
        <%= render_objects_chart "total-bugs", "high" %>
        <%= render_objects_chart "open-bugs", "close" %>
        <%= render_objects_chart "average_close_time-bugs", "myAvg", 3, true %>
        <%= render_objects_chart "resolved_after_a_year-bugs", "sum" %>
		<% @project.drawables["bugs"].keys.each do |to_plot| %>
			<%= render_bugs_chart to_plot %>
		<% end %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>
</div>
<% content_for :scripts do %>
<script>

</script>
<% end %>
