<% content_for(:title, t('choose_repository')) %>
<div class="page-header">
  <h1>
	<%= t('choose_repository') %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<ul>
			<% @products.each do |product| %>
				<li><a href="<%= request.original_url + "/" + product %>"><%= product %></a></li>
			<% end %>
		</ul>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>