<% content_for(:title, t('choose_list')) %>
<div class="page-header">
  <h1>
	<%= t('choose_list') %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<ul>
			<% @lists.each do |list| %>
				<li><%= link_to list, messages_list_mbox_project_path(@project,list) %></li>
			<% end %>
		</ul>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>