<% content_for(:title, t('choose_branch')) %>
<div class="page-header">
  <h1>
	<%= t('choose_branch') %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<ul>
			<% @branches.each do |branch| %>
				<li><%= link_to branch, full_repository_project_path(@project,@product,branch) %></li>
			<% end %>
		</ul>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>