<% content_for(:title,t('commits_list') + " " + t('for') + @project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace)) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('commits_list') + " " + t('for') + @project.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render 'list_commits' %>
		<%= will_paginate @number_of_pages, :renderer => BootstrapPagination::Rails %>
		<div class = "thumbnail">
			<%= t :per_page %>
			<%= form_tag({ :action => "commits_list"}, { :method => "get", :id => "commits-list" }) do %>
	  			<%= select_tag(:view, options_for_select([["10",10],["15",15],["20",20],["30",30],["50",50],["100",100]],params[:view] ||= 10), { :id => "switch-view", :class => "input-mini" }) %>
	  			<% params.each do |k,v| %>
	  				<%= hidden_field_tag(k,v) unless (k == "view" || k == "page" || k == "id" || k == "controller" || k == "action") %>
	  			<% end %>
			<% end %>
		</div>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
				<%= render 'branches_list' %>
			</ul>
		</div>
	</div>				
</div>
<% content_for(:scripts) do%>
<script>
	$(document).ready(function() {
	  $("#switch-view").change(function() {
	    $("#commits-list").submit();
	  });
	});
</script>
<% end %>