<% content_for(:title, t('commit') + ' ' + @commit.sha[0..7]) %>
<div class="page-header">
	<%= render partial: 'top_bar_for_single_project', locals: { back_link: commits_list_project_path(@project) } %>
  <h1>
	<%= t('commit') + ' ' + @commit.to_s[0..7] + " - " + params[:product] %>
  </h1>
  
  <a target="_blank" href="http://quickgit.kde.org/?p=<%= params[:product] %>&a=commit&h=<%= @commit.sha.to_s %>">
  	<%= t :see_in_quickgit %>
  </a>
</div>

<table>      
	<%= render_property(t('author'), @commit.author.name + " [" + @commit.author.email + "]") %>
	<%= render_property(t('date'), @commit.author.date) %>
	<%= render_property(t('committer'), @commit.committer.name + " [" + @commit.committer.email + "]") %>
	<%= render_property(t('date'), @commit.committer.date) %>
	<%= render_property(t('commit'), @commit.sha) %>
	<%= render_property(t('comment'), @commit.message) %>
	<%= render_property(t('tree'), ("<a target='_blank' href='http://quickgit.kde.org/?p="+params[:product]+"&a=tree&h="+@commit.gtree.to_s+"&hb="+@commit.sha.to_s+"'>"+@commit.gtree.to_s+"</a>").html_safe) %>
	<%= render_property(t('snapshot'), (link_to("zip", "http://quickgit.kde.org/?p=#{@product}&a=snapshot&h=#{@commit.sha}&fmt=zip") + " | " +
	link_to("tar", "http://quickgit.kde.org/?p=#{@product}&a=snapshot&h=#{@commit.sha}&fmt=tar") + " | " +
	link_to("tar.gz", "http://quickgit.kde.org/?p=#{@product}&a=snapshot&h=#{@commit.sha}&fmt=tgz")).html_safe) %>
	<% @commit.parents.each do |parent| %> 
	<%= render_property(t('parent'), (link_to parent.to_s, commit_project_path(@project, params[:product], parent.to_s))) %>
	<% end %>
</table>
<hr>
<%
begin 
	diff = @commit.diff_parent.stats
rescue
end 
%>
<% if diff %>
	<div class = "thumbnail">
		<table>
			<%= render_property(t('files_changed'), diff[:total][:files]) %>
			<%= render_property(t('total_insertions'), diff[:total][:insertions]  ) %>
			<%= render_property(t('total_deletions'), diff[:total][:deletions]  ) %>
			<%= render_property(t('total_lines_changed'), diff[:total][:lines]  ) %>
		</table>
	</div>
	<% diff[:files].each do |k,v| %>
		<hr>
		<div class = "thumbnail">
			<table>
				<%= render_property(t('file'), k) %>
				<%= render_property(t('insertions'), v[:insertions]) %>
				<%= render_property(t('deletions'), v[:deletions]) %>
			</table>
		</div>
	<% end %>
<% end %>

