<% content_for(:title,t('dot_report') + " " + t('for') + @project.title) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('dot_report') + " " + t('for') + @project.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render_multiple_objects_chart "dot_posts","sum" %>
		<%= render_doers_chart "dot_posts" %>
		<ul class="nav nav-tabs">
		  <li><a href="#categories" data-toggle="tab"><%= t('categories') %></a></li>
		  <li class="active"><a href="#posters" data-toggle="tab"><%= t('posters') %></a></li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane" id="categories" style="text-align: center;">
			<% @project.drawables["dot_posts"].keys.each do |to_plot| %>
      			<%= render_commits_charts "dot_posts",to_plot,"categories" if to_plot.include?("categories") %>
    		<% end %>
		  </div>
		  <div class="tab-pane active" id="posters" style="text-align: center;">
		  	<% @project.drawables["dot_posts"].keys.each do |to_plot| %>
      			<%= render_commits_charts "dot_posts",to_plot if to_plot.include?("posters") %>
    		<% end %>
		  </div>
		</div>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>
<% content_for :styles do %>
	.tab-content > .tab-pane {
	    display: block;    /* undo display:none          */
	    height: 0;         /* height:0 is also invisible */ 
	    overflow: hidden;  /* no-overflow                */
	}
	.tab-content > .active {
	    height: auto;      /* let the content decide it  */
	}
<% end %>