<% content_for(:title,t('google_plus_report') + " " + t('for') + @project.title) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('google_plus_report') + " " + t('for') + @project.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render_multiple_objects_chart "google_plus_posts","sum" %>
		<%= render_objects_chart "replies-google_plus_posts" %>
		<%= render_doers_chart "google_plus_posts" %>
		<% if @show_pie_charts %>
			<ul class="nav nav-tabs">
			  <li><a href="#plusones" data-toggle="tab">Plus Ones</a></li>
			  <li><a href="#replies" data-toggle="tab">Replies</a></li>
			  <li class = "active"><a href="#resharers" data-toggle="tab">Reshares</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane" id="plusones" style="text-align: center;">
				<% @project.drawables["google_plus_posts"].keys.each do |to_plot| %>
	      			<%= render_commits_charts "google_plus_posts",to_plot,"plusones" if to_plot.include?("plusones") %>
	    		<% end %>
			  </div>
			  <div class="tab-pane" id="replies" style="text-align: center;">
			  	<% @project.drawables["google_plus_posts"].keys.each do |to_plot| %>
	      			<%= render_commits_charts "google_plus_posts",to_plot,"replies" if to_plot.include?("replies") %>
	    		<% end %>
			  </div>
			  <div class="tab-pane active" id="resharers" style="text-align: center;">
			  	<% @project.drawables["google_plus_posts"].keys.each do |to_plot| %>
	      			<%= render_commits_charts "google_plus_posts",to_plot if to_plot.include?("reshares") %>
	    		<% end %>
			  </div>
			</div>
		<% end %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>
</div>
<% content_for :styles do %>
	.tab-content > .tab-pane {
	    display: block;    /* undo display:none          */
	    height: 0;         /* height:0 is also invisible */
	    overflow: hidden;  /* no-overflow                */
	}
	.tab-content > .active {
	    height: auto;      /* let the content decide it  */
	}
<% end %>