<% if @project %>
	<% content_for(:title, @project.title) %>
<% else %>
	<% content_for(:title, t('projects')) %>
<% end %>
<div class="page-header">
	<% if @project %>
		<% unless @project.parent_id ||= nil %>
	  		<%= render partial: 'top_bar_for_single_project', locals: { back_link: projects_path } %>
	  	<% else %>
	  		<%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(Project.find(@project.parent_id)) } %>
	  	<% end %>
	<% else %>
		<% if can? :create, Project %>
		  	<%= link_to new_project_path, :class => 'btn btn-primary', 'data-no-turbolink' => true do %>
		    	<i class="icon-plus icon-white"></i>
		    	<%= t :new_project %>
			<% end %>
		<% end %>
	  	<h1>
	  		<%= t :listing_projects %>
	 	</h1>
 	<% end %>
</div>


<%= render 'list_projects' %>

