<% content_for(:title, t('mailing_lists_report') + " " + t('for') + @project.title ) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('mailing_lists_report') + " " + t('for') + @project.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render_objects_chart "mailing_messages" %>
		<%= render_objects_chart "average_first_reply-mailing_messages", "myAvg", 3, true %>
		<%= render_doers_chart "mailing_messages" %>
		<% @project.drawables["mailing_messages"].keys.each do |to_plot| %>
			<%= render_commits_charts "mailing_messages",to_plot %>
		<% end %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>
</div>
<% content_for :styles do %>
	.tab-content > .tab-pane {
	    display: block;    /* undo display:none          */
	    height: 0;         /* height:0 is also invisible */
	    overflow: hidden;  /* no-overflow                */
	}
	.tab-content > .active {
	    height: auto;      /* let the content decide it  */
	}
<% end %>
