<% content_for(:title, t('archive') + " " + t('for') + @project.title ) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: messages_list_project_path } %>
  <h1>
	<%= t('archive') + " " + t('for') + @project.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render 'list_messages_of_month' %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>
