<% content_for(:title, @message.subject) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: messages_of_month_project_path(params[:id], params[:mlist], params[:month]) } %>
  <h1>
	<%= @message.subject %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render 'display_message' %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>
