<% content_for(:title,t('planet_report') + " " + t('for') + @project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace)) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('planet_report') + " " + t('for') + @project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace) %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render_objects_chart "planet_posts" %>
		<%= render_doers_chart "planet_posts" %>
		<% @project.drawables["planet_posts"].keys.each do |to_plot| %>
			<%= render_commits_charts "planet_posts",to_plot %>
		<% end %>	
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>
<% content_for :styles do %>
	.tab-content > .tab-pane {
	    display: block;    /* undo display:none          */
	    height: 0;         /* height:0 is also invisible */ 
	    overflow: hidden;  /* no-overflow                */
	}
	.tab-content > .active {
	    height: auto;      /* let the content decide it  */
	}
<% end %>