<% content_for(:title,t('repository') + " " + t('for') + @project.title) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('repository') + " " + t('for') + @project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace) %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<table class = "table table-bordered table-hover table-condensed">
			<thead>
				<tr>
				  <th><%= t :name %></th>
				  <th><%= t :size %></th>
				  <th><%= t :revision %></th>
				  <th><%= t :age %></th>
				  <th><%= t :author %></th>
				  <th><%= t :comment %></th>
				</tr>
			</thead>
			<tbody>
				<%= render 'list_files' %>
			</tbody>
		</table>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>