<% content_for(:title, t('viewing_file') + ": " + @blob) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('viewing_file') + ": " + @blob %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render 'code_show' %> 
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>
<% content_for :early_load, stylesheet_link_tag('code_show.css') %>