<% content_for(:title,t('twitter_report') + " " + t('for') + @project.title) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('twitter_report') + " " + t('for') + @project.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render_multiple_objects_chart "tweets-twitter_tweets","sum" %>
		<%= render_multiple_objects_chart "retweets_page-twitter_tweets","sum" %>
		<%= render_objects_chart "retweets_users-twitter_tweets" %>
		<%= render_doers_chart "twitter_tweets" %>
		<% if @show_pie_charts %>
			<% @project.drawables["twitter_tweets"].keys.each do |to_plot| %>
	  			<%= render_commits_charts "twitter_tweets",to_plot %>
			<% end %>
		<% end %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>
</div>
<% content_for :styles do %>
	.tab-content > .tab-pane {
	    display: block;    /* undo display:none          */
	    height: 0;         /* height:0 is also invisible */
	    overflow: hidden;  /* no-overflow                */
	}
	.tab-content > .active {
	    height: auto;      /* let the content decide it  */
	}
<% end %>