<% content_for(:title,t('wiki_report') + " " + t('for') + @project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace)) %>
<div class="page-header">
  <%= render partial: 'top_bar_for_single_project', locals: { back_link: project_path(@project) } %>
  <h1>
	<%= t('wiki_report') + " " + t('for') + @project.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace) %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<ul class="nav nav-tabs">
		  <% @drawable_wikis.each_with_index do |wiki,ind| %>
		  	<li<% if ind == 0 %> class = "active" <% end %>><a href="#<%= wiki %>" data-toggle="tab"><%= wiki.titleize %></a></li>
		  <% end %>
		</ul>

		<div class="tab-content">
		  <% @drawable_wikis.each_with_index do |wiki,ind| %>
			  <div class="tab-pane<% if ind == 0 %> active<% end %>" id="<%= wiki %>" style="text-align: center;">
			  	<div class = "breadcrumb">
			      	<%= t('total_number_of_views') %>: <%= @total_views[wiki] %>
			      </div>
			      <div class = "breadcrumb">
			      	<%= t('total_number_of_revisions') %>: <%= @total_revisions[wiki] %>
			      </div>
			  	<% if @project.all_kde_project? %>
					<%= render_objects_chart "users_registered-#{wiki}_wiki" %>
				<% end %>
				<%= render_objects_chart "revisions-#{wiki}_wiki" %>
				<%= render_doers_chart "#{wiki}_wiki" %>
				<% @project.drawables["#{wiki}_wiki"].keys.each do |to_plot| %>
					<%= render_commits_charts "#{wiki}_wiki",to_plot %>
				<% end %>
			  </div>
		  <% end %>
		</div>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>
</div>
<% content_for :styles do %>
	.tab-content > .tab-pane {
	    display: block;    /* undo display:none          */
	    height: 0;         /* height:0 is also invisible */
	    overflow: hidden;  /* no-overflow                */
	}
	.tab-content > .active {
	    height: auto;      /* let the content decide it  */
	}
<% end %>