<% content_for(:title, t('general_kde')) %>
<div class="page-header">
  <h1>
	<%= t('general_kde') %>
  </h1>
</div>

<div class="row">
	<div class = "span9">
		<p></p>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>				
</div>


