<%= render_line_chart @path+"objects", @start_date, "number_of_commits" %>
<%= render_multiple_lines_chart @path+"lines", @start_date, "number_of_lines" %>
<%= render_standard_doers_chart @path+"doers", @start_date, "authors" %>
<% @report.drawables["commits"].each do |to_plot, tabbed| %>
	<%= render_pie_charts @path+to_plot, to_plot+"_commits_per_author", tabbed %>
<% end %>