<%= render_multiple_lines_chart @path+"objects", @start_date %>
<%= render_standard_doers_chart @path+"doers", @start_date, "posters" %>
<ul class="nav nav-tabs">
  <li><a href="#categories" data-toggle="tab"><%= t('categories') %></a></li>
  <li class="active"><a href="#posters" data-toggle="tab"><%= t('posters') %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="categories" style="text-align: center;">
	<% @report.drawables["category_dot_posts"].each do |to_plot, tabbed| %>
		<%= render_pie_charts @path+"category_#{to_plot}", "#{to_plot}_categories_per_posts", tabbed %>
	<% end %>
  </div>
  <div class="tab-pane active" id="posters" style="text-align: center;">
  	<% @report.drawables["contributor_dot_posts"].each do |to_plot, tabbed| %>
		<%= render_pie_charts @path+"contributor_#{to_plot}", "#{to_plot}_posters_per_posts", tabbed %>
	<% end %>
  </div>
</div>