<%= form_for(@custom_report, :html => { :class => "form-horizontal container" }) do |f| %>
  <div class="control-group row">
    <div class = "span2"><%= f.label :title, :class => "control-label" %></div>
    <div class="controls">
     <div class = "span3"><%= f.text_field :title, :class => "input-large" %></div>
    </div>
  </div>
  <div class="control-group row">
    <div class = "span2"><%= f.label :description, :class => "control-label" %></div>
    <div class="controls">
      <div class="span3"><%= f.text_area :description, :class => "input-xlarge" %></div>
    </div>
  </div>
  <div class="control-group row">
    <div class="span2"><%= f.label :projects, :class => "control-label" %></div>
    <div class="controls">
    	<div class="span3"><%= raw (f.collection_select :project_ids, @projects, :id , :title,{:include_hidden => false}, {:multiple => true}).force_encoding("utf-8").encode("utf-8",:invalid => :replace) %></div>
        <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> If you want the report to be about specific projects, choose them here.</div></div>
    </div>
  </div>
  <% @types.each do |type| %>
  	  <div class="control-group row">
	    <div class = "span2"><%= f.label "generate_#{type}_report".to_sym, :class => "control-label" %></div>
	    <div class="controls">
	      <div class="span3"><%= f.check_box "generate_#{type}_report".to_sym %></div>
	    </div>
	  </div>
	  <div id="<%= type %>_fields">
		  <div class="control-group row">
		    <div class = "span2"><%= f.label "#{type}_contributors".to_sym, :class => "control-label" %></div>
		    <div class="controls">
		      <div class="span3"><%= f.select "#{type}_contributors".to_sym, [],{:include_hidden => false},{multiple: true} %></div>
		    </div>
		    <div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Leave empty to include all contributors.</div></div>
		  </div>
		  <% unless ["commits","mailing_messages", "irc_messages","planet_posts","review_requests"].include?(type) %>
			  <div class="control-group row">
			    <div class = "span2"><%= f.label "#{type}_products".to_sym, :class => "control-label" %></div>
			    <div class="controls">
			      <div class="span3"><%= f.select "#{type}_products".to_sym, [],{:include_hidden => false},{multiple: true} %></div>
			    </div>
			    <% unless type == "dot_posts" %>
			    	<div class="span7"><div class="alert alert-info"><i class="icon-info-sign icon-blue"></i> Filling this overwrites your choice of projects earlier only for this report. If you leave this empty and didn't choose projects as well, all products would be included.</div></div>
			    <% end %>
			  </div>
		  <% end %>
	  </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => "btn btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), custom_reports_path, :class => 'btn' %>
  </div>
<% end %>
<script src= "/js/chosen.jquery.min.js"></script>
<script>
	$("#custom_report_project_ids").chosen();
	<% @types.each do |type| %>
		<%= render :partial => "js_selection_fields", :locals => {type: type} %> 
	<% end %>
</script>
<% content_for :early_load do %>
	<link rel="stylesheet" type="text/css" href="/css/chosen.min.css">
<% end %>