<ul class="nav nav-tabs">
  <li><a href="#Yearly_<%= title %>" data-toggle="tab">Yearly</a></li>
  <li><a href="#Monthly_<%= title %>" data-toggle="tab">Monthly</a></li>
  <li class="active"><a href="#Daily_<%= title %>" data-toggle="tab">Daily</a></li>
</ul>

<div id='doers_line_graph' class="tab-content">
  <div class="tab-pane" id="Yearly_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
  <div class="tab-pane" id="Monthly_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
  <div class="tab-pane active" id="Daily_<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
</div>

<% content_for :scripts do %>
	<script>
	<% ["daily","monthly","yearly"].each do |period| %>
		<%= render :partial => "multiple_doers_#{period}", :locals => {
			:path => path,
			:start_date => start_date,
			:title => title,
			:y_label => t(y_label)
			}
		%>
	<% end %>
	</script>
<% end %>
