<%= render_line_chart @path+"objects", @start_date, "number_of_messages" %>
<%= render_line_chart(
	@path+"average_time_to_first_reply",
	@start_date,
	"average_number_of_hours_to_first_reply",
	nil,
	3,
	"custom_avg"
) %>
<%= render_standard_doers_chart @path+"doers", @start_date, "senders" %>
<% @report.drawables["irc_messages"].each do |to_plot, tabbed| %>
	<%= render_pie_charts @path+to_plot, to_plot+"_messages_per_sender", tabbed %>
<% end %>