var array_<%=type%>;
$('#<%=type%>_fields').hide();
$('#custom_report_generate_<%=type%>_report').click(function() {
  if (!array_<%=type%>) {
  	$.getJSON("/<%=type%>_choices.json", function(data) {
  		array_<%=type%> = data;
  		var items = '';
  		<%= render :partial => "js_options", :locals => { collection: "contributors" } %>
  		$("#custom_report_<%=type%>_contributors").append(items);
  		$("#custom_report_<%=type%>_contributors").chosen();
  		items = '';
  		<%= render :partial => "js_options", :locals => { collection: "products" } %>
  		$("#custom_report_<%=type%>_products").append(items);
  		$("#custom_report_<%=type%>_products").chosen();
  	})
  }
  $('#<%=type%>_fields')[this.checked ? "show" : "hide"](400);
});