$.getJSON("<%= path %>.json", function(data) {

	<% if custom_agg %>
		<%= render "js_#{custom_agg}" %>
	<% end %>

	Highcharts.setOptions({
     colors: [
   '#4572A7'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: '<%= title %>' },
    title: { text: '<%= t(title) %>' },
    xAxis: { oridnal: false },
    yAxis: {
      title: { text: '<%= y_label %>' },
      min: 0,
    },
    <% if (decimals ||= nil) %>
	tooltip: {
	  valueDecimals: <%= decimals %>
	},
	<% end %>
    plotOptions: {line: {
            connectNulls: false
        } },
    series: [
    {
      name: "<%= y_label %>",
      pointInterval: <%= 24*60*60 * 1000 %>,
      pointStart: <%= start_date %>,
      fillColor : '#348AFA',
      data: data,
      <% if custom_agg %>
      	"dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": <%= custom_agg %>, "groupPixelWidth": 50 }
      <% else %>
      	"dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": "<%= approx %>", "groupPixelWidth": 50 }
      <% end %>
    },
    ]
  });
});