$('a[href="#Yearly_<%= title %>"]').one("click",function(){
	$.getJSON("<%= path + "_yearly.json" %>", function(data) {
		var the_series = [];
		if (data.constructor == Array) {
			var s = data.length;
			var final_data = [];
			var cur_date = new Date(<%= start_date %>);
			for (var i = 0; i < s; i++) {
				final_data.push([Date.UTC(cur_date.getFullYear()+i,cur_date.getMonth(),cur_date.getDate()),data[i]]);
			};
			var item = {
		      name: "<%= y_label %>",
		      fillColor : '#348AFA',
		      data: final_data ,
		    };
		    the_series.push(item);
		} else {
			var the_keys = Object.keys(data);
			for (var i = 0; i < the_keys.length; i++) {
				var s = data[the_keys[i]].length;
				var final_data = [];
				var cur_date = new Date(<%= start_date %>);
				for (var j = 0; j < s; j++) {
					final_data.push([Date.UTC(cur_date.getFullYear()+j,cur_date.getMonth(),cur_date.getDate()),data[the_keys[i]][j]]);
				};
				var item = {
			      name: the_keys[i],
			      fillColor : '#348AFA',
			      data: final_data ,
			    };
			    the_series.push(item);
			}
		}
		Highcharts.setOptions({
	     colors: [
	   '#4572A7',
	   '#AA4643',
	   '#89A54E',
	   '#80699B',
	   '#3D96AE',
	   '#DB843D',
	   '#92A8CD',
	   '#A47D7C',
	   '#B5CA92'
	]
	    });
	  new Highcharts.Chart({
	    chart: { renderTo: 'Yearly_<%= title %>' },
	    title: { text: '<%= t(title) %>' },
	    xAxis: { oridnal: false, type: 'datetime', labels: {
	            format: '{value: %Y}'
	        } },
	    yAxis: {
	      title: { text: '<%= y_label %>' },
	      min: 0,
	    },
	    plotOptions: {line: {
	            connectNulls: false
	        } },
	    series: the_series
	  });
	});
});