<%= render_line_chart @path+"objects", @start_date, "number_of_posts" %>
<%= render_standard_doers_chart @path+"doers", @start_date, "posters" %>
<% @report.drawables["planet_posts"].each do |to_plot, tabbed| %>
	<%= render_pie_charts @path+to_plot, to_plot+"_posts_per_poster", tabbed %>
<% end %>