<% content_for :styles do %>
	.tab-content > .tab-pane {
	    display: block;    /* undo display:none          */
	    height: 0;         /* height:0 is also invisible */
	    overflow: hidden;  /* no-overflow                */
	}
	.tab-content > .active {
	    height: auto;      /* let the content decide it  */
	}
<% end %>