<%= render_multiple_lines_chart @path+"objects", @start_date, "numbers" %>
<%= render_line_chart @path+"closed_after_a_year", @start_date, "number_of_reviews_closed_after_a_year" %>
<%= render_standard_doers_chart @path+"doers", @start_date, "requesters" %>
<% @report.drawables["review_requests"].each do |to_plot, tabbed| %>
	<%= render_pie_charts @path+to_plot, to_plot+"_requests_per_contributor", tabbed %>
<% end %>