<li<%=raw " class='active'" if current_page?(custom_report_path) %>><%= link_to @report.title + ' ' + t('home'), custom_report_path %></li>
<% Constants::CUSTOM_REPORT_TYPES.each do |type| %>
	<% if (@report.is_included?(type)) %>
		<% report_name = Constants::TYPES_TO_REPORT_TITLES[type] %>
		<hr>
		<li<%=raw " class='active'" if current_page?(eval("#{report_name}_report_custom_report_path")) %>><%= link_to t("#{report_name}_report"), eval("#{report_name}_report_custom_report_path") %></li>
	<% end %>
<% end %>
