<div id="<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
<% content_for :scripts do %>
	<script>
$.getJSON("<%= custom_report_path("en",@custom_report) %>/<%= type %>/<%= path %>.json", function(data) {

	Highcharts.setOptions({
     colors: [
   '#4572A7'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: '<%= title %>' },
    title: { text: '<%= t(title) %>' },
    xAxis: { oridnal: false },
    yAxis: {
      title: { text: '<%= y_label %>' },
      min: 0,
    },
    plotOptions: {line: {
            connectNulls: false
        } },
    series: [
    {
      name: "<%= y_label %>",
      pointInterval: <%= 24*60*60 * 1000 %>,
      pointStart: <%= start_date %>,
      fillColor : '#348AFA',
      data: data,
      	"dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": "sum", "groupPixelWidth": 50 }
    },
    ]
  });
});
	</script>
<% end %>