<div id="<%= title %>" style="text-align: center;"><img src="/images/ajax-loader.gif" /></div>
<% content_for :scripts do %>
	<script>
		<%= render :partial => "ajax_pie_chart", :locals => {
			:path => path,
			:target => title,
			:title => t(title.split("_for_").first),
			:unloaded => unloaded
			} 
			 %>
	</script>
<% end %>
