<% unless back_link ||= nil %>
	<button class="btn" onclick="history.go(-1);return true;">
	    <i class="icon-list-alt"></i>
	    <%= t :back %>
	</button>
<% else %>
	<%= link_to back_link, :class => 'btn' do %>
	    <i class="icon-list-alt"></i>
	    <%= t :back %>
	<% end %>
<% end %>

<% if can? :delete, @report %>
	<%= link_to custom_report_path(@report), :class => 'btn btn-danger', method: :delete do %>
		<%= t :delete %>
	<% end %>
<% end %>