<ul class="nav nav-tabs">
  <% @drawable_wikis.each_with_index do |site,ind| %>
  	<li<% if ind == 0 %> class = "active" <% end %>><a href="#<%= site %>" data-toggle="tab"><%= site.titleize %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% @drawable_wikis.each_with_index do |site,ind| %>
	  <div class="tab-pane<% if ind == 0 %> active<% end %>" id="<%= site %>" style="text-align: center;">
	  	<div class = "breadcrumb">
	      	<%= t('total_number_of_views') %>: <%= @total_views[site] %>
	      </div>
	      <div class = "breadcrumb">
	      	<%= t('total_number_of_revisions') %>: <%= @total_revisions[site] %>
	      </div>
		<%= render_line_chart( 
			@path[site]+"revisions", 
			@start_date[site], 
			"number_of_revisions"
		) %>
		<%= render_standard_doers_chart @path[site]+"doers", @start_date[site], "editors" %>
		<% @report.drawables["#{site}_wiki"].each do |to_plot, tabbed| %>
			<%= render_pie_charts( 
				@path[site]+to_plot,
				to_plot+"_revisions_per_contributor",
				tabbed
			) %>
		<% end %>
	  </div>
  <% end %>
</div>