<% content_for(:title,t('forums_report') + " " + t('for') + @report.title) %>
<div class="page-header">
  <%= render partial: 'top_bar', locals: { back_link: custom_report_path(@report) } %>
  <h1>
	<%= t('forums_report') + " " + t('for') + @report.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render_multiple_lines_chart @path+"objects", @start_date %>
		<%= render_line_chart(
			@path+"average_time_to_first_reply",
			@start_date,
			"average_number_of_hours_to_first_reply",
			nil,
			3,
			"custom_avg"
		) %>
		<%= render_standard_doers_chart @path+"doers", @start_date, "posters" %>
		<% @report.drawables["forum_posts"].each do |to_plot,tabbed| %>
  			<%= render_pie_charts( 
  					@path+to_plot,
  					to_plot+"_posts_per_poster",
  					tabbed
  			) %>
		<% end %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>
</div>
<%= render "report_styler" %>
