<% content_for(:title, t('custom_reports')) %>

<div class="page-header">
	<% if can? :create, CustomReport %>
	  	<%= link_to new_custom_report_path, :class => 'btn btn-primary', 'data-no-turbolink' => true do %>
	    	<i class="icon-plus icon-white"></i>
	    	<%= t :new_custom_report %>
		<% end %>
	<% end %>
	<h1>
  		<%= t :listing_custom_reports %>
 	</h1>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t :title %></th>
      <th><%= t :description %></th>
    </tr>
  </thead>

  <tbody>
<% @custom_reports.each do |report| %>
    <tr>
      <td><%= link_to report.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace), report %></td>
      <td><%= report.description.force_encoding("utf-8").encode("utf-8",:invalid => :replace) %></td>
    </tr>
<% end %>
  </tbody>
</table>