<% content_for(:title,t('generate_your_own_report')) %>
<div class="page-header">
  <%= link_to projects_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1><%= t('generate_your_own_report') %></h1>
</div>

<%= render 'form' %>
