<% content_for(:title,t(@title) + " " + t('for') + @report.title) %>
<div class="page-header">
  <%= render partial: 'top_bar', locals: { back_link: custom_report_path(@report) } %>
  <h1>
	<%= t(@title) + " " + t('for') + @report.title %>
  </h1>
</div>
<div class="row">
	<div class = "span9">
		<%= render @title %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' %>
			</ul>
		</div>
	</div>
</div>
<%= render "report_styler" %>
