<% content_for(:title, @report.title) %>

<div class="page-header">
	<h1>
		<%= @report.title.force_encoding("utf-8").encode("utf-8",:invalid => :replace) %>
	</h1>
	<%= render partial: 'top_bar', locals: { back_link: custom_reports_path } %>
</div>

<div class="row">
	<div class = "span9">
		<% if @report.generated %>
			<div class="alert alert-success">
				<%= t :report_is_ready_choose_from_the_sidebar %>
			</div>
			<div>&nbsp;</div>
		<% else %>
			<div class="alert alert-info">
				<%= t :report_is_still_being_generated %>
			</div>
		<% end %>
	</div>
	<div class = "span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<%= render 'side_bar' if @report.generated %>
			</ul>
		</div>
	</div>
</div>
