.markdown-body .highlight pre,.markdown-body pre {
background-color:#f8f8f8;
border:1px solid #ddd;
font-size:13px;
line-height:19px;
overflow:auto;
border-radius:3px;
padding:6px 10px;
}

.markdown-body pre {
word-wrap:normal;
}

.markdown-body pre code,.markdown-body pre tt {
background-color:transparent;
border:none;
word-wrap:normal;
max-width:initial;
display:inline;
overflow:initial;
line-height:inherit;
margin:0;
padding:0;
}

.markdown-body pre code:before,.markdown-body pre code:after,.markdown-body pre tt:before,.markdown-body pre tt:after {
content:normal;
}

.highlight .err {
color:#a61717;
background-color:#e3d2d2;
}

.highlight .cs {
color:#999;
font-weight:700;
font-style:italic;
}

.highlight .gd {
color:#000;
background-color:#fdd;
}

.highlight .gd .x {
color:#000;
background-color:#faa;
}

.highlight .gi {
color:#000;
background-color:#dfd;
}

.highlight .gi .x {
color:#000;
background-color:#afa;
}

.highlight .gu {
color:purple;
font-weight:700;
}

.highlight .nb {
color:#0086b3;
}

.highlight .ni {
color:purple;
}

.highlight .nt {
color:navy;
}

.highlight .sr {
color:#009926;
}

.highlight .ss {
color:#990073;
}

.highlight .gc {
color:#999;
background-color:#EAF2F5;
}

.type-csharp .highlight .nf {
color:#000;
font-weight:400;
}

.type-csharp .highlight .nc {
color:#2b91af;
}

.markdown-body a.absent,.danger,li.contribution .d {
color:#c00;
}

.markdown-body a.anchor:focus,.blob-filter[type=text]:focus {
outline:none;
}

.markdown-body h1 tt,.markdown-body h1 code,.markdown-body h2 tt,.markdown-body h2 code,.markdown-body h3 tt,.markdown-body h3 code,.markdown-body h4 tt,.markdown-body h4 code,.markdown-body h5 tt,.markdown-body h5 code,.markdown-body h6 tt,.markdown-body h6 code,.marketing-header .button .octicon {
font-size:inherit;
}

.markdown-body span.align-center,.markdown-body span.align-right {
display:block;
overflow:hidden;
clear:both;
}

.markdown-body code,.billing-plans .coupon .text-right,table.branches tr td.actions,.github-jobs-promotion .job-location {
white-space:nowrap;
}

.highlight .c,.highlight .cm,.highlight .c1 {
color:#998;
font-style:italic;
}

.highlight .cp,.autocomplete-item .number,.commit-list .created-at a,.issue-list .created-at a,.sidebar-milestone-widget .info-secondary .open {
color:#999;
font-weight:700;
}

.highlight .gr,.highlight .gt {
color:#a00;
}

.highlight .go,.form-actions-protip .protip {
color:#888;
}

.highlight .gp,.highlight .nn,.box-title a,.timeline-commits .commit-message a {
color:#555;
}

.highlight .kt,.highlight .nc {
color:#458;
font-weight:700;
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il {
color:#099;
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1 {
color:#d14;
}

.highlight .na,.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi {
color:teal;
}

.highlight .ne,.highlight .nf {
color:#900;
font-weight:700;
}

.type-csharp .highlight .k,.type-csharp .highlight .kt {
color:blue;
}

.type-csharp .highlight .s,.type-csharp .highlight .sc {
color:#a31515;
}
